<div class="navbar navbar-inverse navbar-fixed-top mhwow">			
		<div class="content-wrapper">
			
			<div class="l">
				<div id="mhlogo-text">
					<img src="assets/MHWOW_logo_text.jpg" />
				</div>								
			</div>
			<div class="r">				
				<strong><%= link_to "Host Center", "http://mintranet.lvh.me:3000/host_center" %></strong></a>
				<strong><a href="mailto:martin@moishehouse.org?subject=Looking for more information about MHWOW">Contact Us</a></strong>
			</div>			  
		</div>
	</div>
</div>