<div class="mhwow-body">
<div id="mhwow-faq" class="wrapped-content">
	<div class="grid-row clearfix">
		<div class="grid-3">
			<img src="assets/mhwowicons/mhwowquestionmark.png">
			<h2>What is MHWOW?</h2>
			<p>MHWOW allows you to act as a leader and build Jewish community as you envision it by planning and hosting programs for your peers.</p>
		</div>

		<div class="grid-3">
			<img src="assets/mhwowicons/mhwowusers.png">
			<h2>Who is it for?</h2>
			<p>MHWOW is currently open to Moishe House resident alumni, Moishe House retreat participants, and those living in San Diego. Anyone who falls into one of these three categories and is between the ages of 22-32 is eligible to apply for to be a host.</p>
		</div>

		<div class="grid-3">
			<img src="assets/mhwowicons/mhwowthumsbup.png">
			<h2>Count me in!</h2>
			<p><a href="mailto:martin@moishehouse.org?subject=Looking for more information about MHWOW">Click here</a> to to receive more information about how you can become a host and start building your dream community. </p>
		</div>
	</div>
</div>