<div id="footer" style="clear:both;">
	<div class="office">
		<p class="office-header" style="text-align: center; line-height:0px;">EAST COAST OFFICE</p>
		<p style="text-align: center; line-height: 1.3em;">		
		2121 Commonwealth Ave
		<br>Ste # 210
		<br>Charlotte, NC 28205
		<br>P: (980) 225-7667
		</p>
	</div>
	<div class="office">
		<p class="office-header" style="text-align: center; line-height:0px;">HEADQUARTERS</p>
		<p style="text-align: center; line-height: 1.3em;">			
			1330 Broadway, Suite 801
			<br>Oakland, CA 94612
			<br>P: (510) 452-3800
			<br>F: (510) 452-8300
		</p>
	</div>
	<div class="office">
		<p class="office-header" style="text-align: center; line-height:0px;">EUROPEAN OFFICE</p>
		<p style="text-align: center; line-height: 1.3em;">			
			JHub, Haskell House
			<br>152 West End Lane
			<br>London NW6 1SD
			<br>P (+44) 02074435164
		</p>
	</div>
</div>