<title>Moishe House - Background</title>
<div id="background">
	<p class="content-header">BACKGROUND</p><br />

	Moishe House, founded in 2006, has quickly grown from four friends hosting Shabbat dinners for their peers out of their home in Oakland, California, to over 50 thriving houses, spanning the globe. Moishe House is the largest organization of its kind, serving more than 60,000 program attendees around the world annually. Moishe House uniquely serves the Jewish post-college young adult population by providing opportunities for community involvement, Jewish learning and leadership.
</div>

<div id="model">
	<p class="content-header">THE MOISHE HOUSE MODEL</p><br />
	<img src="/assets/mhmodel.png" /><br /><br />
	We have developed a creative, accessible, and cost-effective model for building vibrant, peer-based Jewish communities and learning opportunities for Jewish young adults in their 20's. Given that emerging adults are the true experts on their generation, Moishe House cultivates young leaders to create Jewish community – on their own terms – for their peers, in ways that are meaningful and relevant.
	<br><br>
	<ul>
		<li>The center of the approach is an open, welcoming home, created and facilitated by a group of 3-5 young adults (residents).</li><br>
		<li>Moishe House residents come from a wide variety of Jewish backgrounds and are selected for their demonstrated leadership abilities and outgoing personalities.</li><br>
		<li>Residents plan and host a diverse range of accessible religious, cultural and social events in their home, including Shabbat dinners, holiday celebrations, Repair the World programs, and more. In addition, the house residents also support existing community resources by partnering with local Jewish organizations such as JCCs, synagogues, federations, and other institutional providers.</li><br>
		<li>We also provide on-going engagement with monthly Learning Retreats. These weekend and weeklong programs partner with a variety of educators to encourage attendees to grow their Jewish knowledge, skills and leadership abilities. </li><br>
	</ul>

	<p style="text-align: center;">CLICK <a href="#" style="content-header">HERE</a> TO FIND A MOISHE HOUSE NEAR YOU AND SEE HOW YOU CAN GET INVOLVED!</p>
</div>