<title>Moishe House - Board of Directors</title>
<div class="content">
	<p class="content-header" style="text-align: center;">MOISHE HOUSE BOARD OF DIRECTORS</p>
	<p>The Moishe House Board of Directors is the organization's governing body, comprised of key Jewish philanthropists, community leaders, and a Moishe House resident representative. Our board is committed to supporting Jewish emergent adults as they create community and build future Jewish leadership. These individuals are influential in their communities and willing to help guide and assist Moishe House, as it charts its course for the future. The Board of Directors' responsibilities include determining policy, setting organizational goals and supporting fundraising efforts.</p>
	<img src="/assets/boardofdirectorsgrid.png" />
</div>