<title>Moishe House - Evaluation</title>
<div class="content">
	<p class="content-header">MOISHE HOUSE EVALUATION</p>
	<p>In 2011, Moishe House completed a two year external evaluation that was conducted by The TCC Group. The evaluation was commissioned by the Jim Joseph Foundation and included interviews, focus groups, site visits and a large scale online survey. We are excited to share the executive summary and data charts below. We are also happy to share the full report for you to see upon request. Please email julie@moishehouse.org for more information.</p><br>
	<a href="#">Evaluation Executive Summary</a><br>
	<a href="#">Evaluation Executive Summary (Charts)</a>
</div>