<title>Moishe House - FAQ</title>

<div class="content">

	<div id="question-list">
		<p class="content-header">FREQUENTLY ASKED QUESTIONS</p>
		<p><a href="#1">What is Moishe House?</a></p>
		<p><a href="#2">What is the Moishe House Model?</a></p>		
		<p><a href="#3">Why do you focus on Jews in their twenties?</a></p>
		<p><a href="#4">Who lives in a Moishe House?</a></p>
		<p><a href="#5">Do you own the houses?</a></p>
		<p><a href="#6">Where does the money come from for the residents to use for programming?</a></p>
		<p><a href="#7">Is Moishe House affiliated with a particular branch of Judaism?</a></p>
		<p><a href="#8">How long can you live in a Moishe House?</a></p>
		<p><a href="#9">How can you apply to live in a Moishe House?</a></p>
		<p><a href="#10">Are Moishe Houses Kosher?</a></p>
		<p><a href="#11">How many programs does a Moishe House host, each month?</a></p>
		<p><a href="#12">How do I attend a program?</a></p>
		<p><a href="#13">I am going to visit a city with a Moishe House in it, can I stay there?</a></p>
		<p><a href="#14">Do you have to be Jewish to attend a Moishe House program?</a></p>
	</div>
<br><br>
	<div id="answer-list">
		<p id="1"><strong>Q. What is Moishe House?</strong><br>
		A. Moishe House is a network of peer-based Jewish communities for young adults aged 21-30. The communities are created by a group of young adults (called "residents"), who all share a strong eagerness to create a hub of Jewish life for their peers (called "participants") and community members.</p><br>
		<p id="2"><strong>Q. What is the Moishe House Model?</strong><br>
		A. Moishe House provides a subsidy and a program budget to individuals in exchange for hosting a set number of programs each month. Individuals then work to create their ideal Jewish community for their peers. Moishe House also furthers Jewish community by hosting 
		<%= link_to 'Learning Retreats', '#' %> and providing educational resources for participants.</p><br>
		<p id="3"><strong>Q. Why do you focus on Jews in their twenties?</strong><br>
		A. The Jewish community has created infrastructure for engaging Jews from early childhood through college and then again once they choose to start families. A major gap has evolved in which there are almost no appropriate organized venues for post-collegiate Jews in their twenties. Moishe House was created to meet the needs of this growing demographic by cultivating a meaningful and attractive pathway from Jewish college life to Jewish family life.</p><br>
		<p id="4"><strong>Q. Who lives in a Moishe House?</strong><br>
		A. Residents of Moishe Houses are the young leaders in their local community. Some are Grad students, some are young professionals, and all are Jewish leaders.</p><br>
		<p id="5"><strong>Q. Do you own the houses?</strong><br>
		A. Moishe House does not own any of the houses. Each Moishe House resident is responsible for finding and maintaining their own home.</p><br>
		<p id="6"><strong>Q. Where does the money come from for the residents to use for programming?</strong><br>
		A. Moishe House is generously supported by various organizations, individuals and the young adult population that we are serving.</p><br>
		<p id="7"><strong>Q. Is Moishe House affiliated with a particular branch of Judaism?</strong><br>
		A. Moishe House is a non-denominational, pluralistic Jewish organization.</p><br>
		<p id="8"><strong>Q. How can you live in a Moishe House?</strong><br>
		A. Most Moishe House residents live in the house for 1-3 years. In general, Moishe House would like residents to plan on staying in the house for a minimum of one year.</p><br>
		<p id="9"><strong>Q. How can you apply to live in a Moishe House?</strong><br>
		A. Our application is available <%=link_to 'HERE.', '#' %></p><br> <!-- fill in link to this shit later -->
		<p id="10"><strong>Q. Are Moishe Houses Kosher?</strong><br>
		A. Every house strives to accommodate all guests and their relationships with Kashrut. The one universal rule is that no Moishe House will serve food that would make guests who keep Kosher uncomfortable (i.e. Pork or Shrimp).</p><br>
		<p id="11"><strong>Q. How many programs does Moishe House host each month?</strong><br>
		A. Moishe Houses are assigned a specific program quota, which is generally linked to the size of the population that the house is serving.</p><br>
		<p id="12"><strong>Q. How do I attend a program?</strong><br>
		A. You can find a calendar for each house as well as contact email addresses <%= link_to 'HERE.', '#' %></p><br> <!-- fill in link to this shit later -->
		<p id="13"><strong>I am going to visit a city with a Moishe House in it, can I stay there?</strong>
		A. No. Moishe Houses are designed to be programmatic hubs, but we encourage you to attend a program and get to know the community.</p><br>
		<p id="14"><strong>Q. Do you have to be Jewish to attend a Moishe House program?</strong><br>
		A. Moishe House’s mission is to create vibrant Jewish communities, however we recognize that many Jews in their 20’s have a network that includes non-Jewish friends. All are welcome at Moishe House programs.</p>

	</div>


</div>