<title>Moishe House - Jobs</title>
<div class="content">
	<p class="content-header">JOBS</p>
	<p>Thank you for your interest in Moishe House. There are no open opportunities at this time. Please check back soon!</p>
	<!-- <ul>
		<li>Part-Time Administrative Assistant</li>
	</ul> -->
	<div id="jobs">
		<!-- <p>Moishe House seeks an Administrative Assistant to provide support to the Development & Administrative Teams and CEO.</p>

		<p>Organization Overview</p>
		<p>Moishe House provides meaningful Jewish experiences for young adults around the world by supporting leaders in their 20s as they create vibrant home-based Jewish communities. We are the largest, international organization serving the young adult constituency (ages 22-30) and have 58 houses in 14 countries around the world. Our headquarters are currently based in Oakland, California and we also have an East Coast office in Charlotte, NC (where this position will be based out of).</p>

		<p>Essential Job Duties</p>
		<ul>
			<li>Answer phones, transfer calls, and take messages</li>
			<li>Fax and scan documents as necessary</li>
			<li>Conduct research and assist team in preparing presentations and reports</li>
			<li>Handle incoming and outgoing mail (including trips to the post office) </li>
			<li>Help organize and maintain donor database system </li>
			<li>Prepare documents for signature </li>
			<li>Prepare expense reports</li>
			<li>Assist in booking travel</li>
			<li>Assist in preparation and planning for mailings</li>
			<li>Monitor and reconcile organizations credit card</li>
		</ul> -->
	</div>
</div>