<title>Moishe House - Mission & Vision</title>
<div class="page-image">
	<img src="/assets/HouseGraphicNEW.jpg" style="width: 474px;" />
</div>

<div class="split-content">
	<p class="content-header">MISSION AND VISION</p>
	<p style="font-size: 12pt;">MISSION</p>
	<p>To provide meaningful Jewish experiences for young adults around the world by supporting leaders in their 20s as they create vibrant home-based Jewish communities for themselves and their peers.</p>
	<p style="font-size: 12pt;">VISION</p>
	<p>We envision Moishe House as the global leader of pluralistic Jewish life for adults in their 20s. We facilitate a wide range of experiences, so that they have the leadership, knowledge and community to enrich their Jewish journeys.</p>
</div>