<title>Moishe House - Our Team</title>
<div class="staff-content">
	<p class="content-header" style="text-align: center;">OUR TEAM</p>
	<div class="staff-row" id="row1">
		<div class="staff" id="1">			
			<img src="/assets/staff/ale.png" /><br>					
			<p style="text-align: center;"><%= staff_member("Alejandro", "Okret") %></p>
			<p style="text-align: center;">Senior Director of International Development</p>
		</div>
		</div>
	</div>

	<div class="staff-row" id="row2">
		<div class="staff">
			<div class="staff-photo">
				<img src="/assets/staff/dave.png" /><br>
			</div>
			<div class="staff-name">
				<%= staff_member("David", "Cygielman") %>
			</div>
		</div>
	</div>

	<div class="staff-row" id="row3">

	</div>

</div>